{% extends 'breaking-bad.twig' %}

{%  block galeria %}
    <div>
        <img src="{{ base_url() }}/images/breaking-bad-1.jpg" id="image-1" class="no-zoom" alt="Breaking bad 1">
        <div class="image-text" id="image-text-1">Breaking Bad 1</div>
    </div>
    <div>
        <img src="{{ base_url() }}/images/breaking-bad-2.jpg" id="image-2" class="no-zoom" alt="Breaking bad 2">
        <div class="image-text" id="image-text-2">Breaking Bad 2</div>
    </div>
    <div>
        <img src="{{ base_url() }}/images/breaking-bad-3.jpg" id="image-3" class="no-zoom" alt="Breaking bad 3">
        <div class="image-text" id="image-text-3">Breaking Bad 3</div>
    </div>
    <div>
        <img src="{{ base_url() }}/images/breaking-bad-4.jpg" id="image-4" class="no-zoom" alt="Breaking bad 4">
        <div class="image-text" id="image-text-4">Breaking Bad 4</div>
    </div>
{% endblock %}

{%  block video %}
    <trailer id="xvzdso"></trailer>
{% endblock %}