{% extends 'orange-new-black.twig' %}

{%  block galeria %}
    <div>
        <img src="{{ base_url() }}/images/orange-new-black-1.jpg" id="image-1" class="no-zoom" alt="Orange is the new black 1">
        <div class="image-text" id="image-text-1">Orange is the new black 1</div>
    </div>
    <div>
        <img src="{{ base_url() }}/images/orange-new-black-2.jpg" id="image-2" class="no-zoom" alt="Orange is the new black 2">
        <div class="image-text" id="image-text-2">Orange is the new black 2</div>
    </div>
    <div>
        <img src="{{ base_url() }}/images/orange-new-black-3.jpg" id="image-3" class="no-zoom" alt="Orange is the new black 3">
        <div class="image-text" id="image-text-3">Orange is the new black 3</div>
    </div>
    <div>
        <img src="{{ base_url() }}/images/orange-new-black-4.jpg" id="image-4" class="no-zoom" alt="Orange is the new black 4">
        <div class="image-text" id="image-text-4">Orange is the new black 4</div>
    </div>
{% endblock %}

{%  block video %}
    <trailer id="vY0qzXi5oJg"></trailer>
{% endblock %}