{% extends 'walking-dead.twig' %}

{%  block galeria %}
    <div>
        <img src="{{ base_url() }}/images/walking-dead-1.jpg" id="image-1" class="no-zoom" alt="The walking dead 1">
        <div class="image-text" id="image-text-1">The walking dead 1</div>
    </div>
    <div>
        <img src="{{ base_url() }}/images/walking-dead-2.jpg" id="image-2" class="no-zoom" alt="The walking dead 2">
        <div class="image-text" id="image-text-2">The walking dead 2</div>
    </div>
    <div>
        <img src="{{ base_url() }}/images/walking-dead-3.jpg" id="image-3" class="no-zoom" alt="The walking dead 3">
        <div class="image-text" id="image-text-3">The walking dead 3</div>
    </div>
    <div>
        <img src="{{ base_url() }}/images/walking-dead-4.jpg" id="image-4" class="no-zoom" alt="The walking dead 4">
        <div class="image-text" id="image-text-4">The walking dead 4</div>
    </div>
{% endblock %}

{%  block video %}
    <trailer id="133185885"></trailer>
{% endblock %}